<div id="<%= dom_id home_box %>">
  <p>
    <strong>Title:</strong>
    <%= home_box.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= home_box.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= home_box.user_id %>
  </p>

</div>
