<h1>Editing legal notice</h1>

<%= render "form", legal_notice: @legal_notice %>

<br>

<div>
  <%= link_to "Show this legal notice", @legal_notice %> |
  <%= link_to "Back to legal notices", legal_notices_path %>
</div>
