<h1>Editing home site</h1>

<%= render "form", home_site: @home_site %>

<br>

<div>
  <%= link_to "Show this home site", @home_site %> |
  <%= link_to "Back to home sites", home_sites_path %>
</div>
