<%= render 'header' %>
<section class="">
    <div class="bg-black py-20 mb-10 pl-[10%]">
        <h1 class="text-lg md:text-4xl	lg:text-5xl font-semibold  text-white"><%= localized_attribute(@legal_notice, :title) %></h1>
    </div>
    <div class="pl-[10%] w-[70%]"> 
        <p><%= localized_attribute(@legal_notice, :content) %></p>
    </div>
</section>
<%= render 'footer' %>
