<div id="<%= dom_id logo %>">
  <p>
    <strong>Title:</strong>
    <%= logo.title %>
  </p>

  <p>
    <strong>User:</strong>
    <%= logo.user_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag logo.image %>
  </p>

</div>
