<div id="<%= dom_id organization %>">
  <p>
    <strong>Url:</strong>
    <%= organization.url %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= organization.title %>
  </p>

  <p>
    <strong>Information:</strong>
    <%= organization.information_id %>
  </p>

</div>
