<p style="color: green"><%= notice %></p>

<h1>Socials</h1>

<div id="socials">
  <% @socials.each do |social| %>
    <%= render social %>
    <p>
      <%= link_to "Show this social", social %>
    </p>
  <% end %>
</div>

<%= link_to "New social", new_social_path %>
