<h1>Editing highlight</h1>

<%= render "form", highlight: @highlight %>

<br>

<div>
  <%= link_to "Show this highlight", @highlight %> |
  <%= link_to "Back to highlights", highlights_path %>
</div>
